*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3F1FF

}

.container{
    width: 80%;
    margin: 0 auto;

}
.section-content{
    
    display: flex;
    justify-content: space-between;
    padding: 22px 0px;
}


.header-section{
    background-color: #562eff
}
.header-left img{
    width: 40px;
    height: 51px;
}
img {
    width: 51px;
}

ul.menu-items li {
    list-style: none;
}

ul.menu-items li a {
    text-decoration: none;
}

ul.menu-items {
    display: flex;
}

.header-left {
    display: flex;
    grid-gap: 21px;
}

ul.menu-items a {
    font-size: 1.2em;
    margin: 29px;
}

.header-left h2 {
    margin-top: 10px;
    color: white;
}

a {
    margin-top: 5px;
}

.menus-all {
    display: flex;
    margin-top: 16px;
}


.menus-all a {
    color: white;
}


/* header section ends hre  */


.top-players-section {
    margin-top: 30px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

.players-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 12em;
    grid-row-gap: 2em;
}

.player-all {display: flex;}

h2.top-players-title {
    margin-bottom: 22px;
    font-size: 32px;
    font-weight: 600;
}


.player-all {gap: 20px;align-items: center;}


