*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3F1FF

}

.container{
    width: 80%;
    margin: 0 auto;

}
.section-content{
    
    display: flex;
    justify-content: space-between;
    padding: 22px 0px;
}


.header-section{
    background-color: #562eff
}
.header-left img{
    width: 40px;
    height: 51px;
}
img {
    width: 51px;
}

ul.menu-items li {
    list-style: none;
}

ul.menu-items li a {
    text-decoration: none;
}

li.right-logo {
    margin-top: -13px;
}


ul.menu-items {
    display: flex;
}

.header-left {
    display: flex;
    grid-gap: 21px;
}

ul.menu-items a {
    font-size: 1.2em;
    margin: 29px;
}

.header-left h2 {
    margin-top: 10px;
    color: white;
}

a {
    margin-top: 5px;
}

.menus-all {
    display: flex;
    margin-top: 16px;
}


.menus-all a {
    color: white;
}


/* header section ends hre  */


.top-players-section {
    margin-top: 30px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

.players-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 12em;
    grid-row-gap: 2em;
}

.player-all {display: flex;}

h2.top-players-title {
    margin-bottom: 22px;
    font-size: 32px;
    font-weight: 600;
    color: #562EFF;
}


.player-all {gap: 20px;align-items: center;}

hr {
    margin: 33px 0px;
}

.blogs-all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2em;
}

.blog-img-box img {
    width: 177px;
    height: 117px;
}

.top-blogs-box {
    display: flex;
    gap: 2em;
    grid-row-gap: 25px;
    align-items: center;
}

.blogs-info {
    font-size: 24px;
}

a {
    text-decoration: none;
}


/* blogs section ends here  */




.lates-course {
    padding: 30px;
    background: white;
    margin-top: 28px;
    border-radius: 10px;
}

.course.info img {
    width: 224px;
    height: 105px;
}


.course-box-wrapper {
    display: flex;
    grid-column-gap: 11em;
}

h3.lates-info {
    margin-top: 15px;
    font-size: 25px;
    margin-bottom: 10px;
}

.rating-left i {
    color: orange;
    font-size: 12px;
}

.rating-left a {
    margin-left: 12px;
}

i.far.fa-clock {
    margin-left: 19px;
    color: #b12d2d;
    font-weight: 600;
    background: #ff00003d;
    padding: 5px;
    border-radius: 15px;
}


    /* Somthingly ends here in css code  */


    /* starte responcive media quereey start here */


    @media  only screen and (max-width: 688px) {


        .container {
            width: 100%;
            
        }


        .section-content {
            display: block;
        }
        
        .menus-all {
            display: inline;
            line-height: 76px;
            text-align: center;
        }

        ul.menu-items {
            display: block;
        }
        li:hover {
            background: #4373af;
        }

        .header-left {
            margin-left: 15px;
        }

        .players-section {
            grid-template-columns: repeat( 1, 1fr);
        }

        .blogs-all {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        
        .blogs-info {
            font-size: 16px;
        }

        .course-box-wrapper {
            display: block;
        }
        
        h3.lates-info {
            font-size: 21px;
        }
        
        .lates-course-box {
            margin-bottom: 30px;
        }


    }

    /* phone responsive ends here  */




    /* ipad responsive startd here  */


    @media only screen  and (min-width: 688px) and (max-width: 992px) {


        .container{
            width: 100%;
        }
        .players-section {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 67px;
        }

        
        .top-players-section {
            text-align: center;
            margin-left: 3px;
        }
        
        .blogs-all{

            grid-template-columns: repeat(1, 1fr);
        }




        .course-box-wrapper {
            display: block;
            text-align: center;
        }

        .course-title {
            text-align: center;
        }

        h2.top-players-title {
            font-size: 65px;
        }

        .lates-course-box {
            margin-bottom: 80px;
        }

        .course.info img {
            width: 350px;
            height: 214px;
        }
        
    }
